# Ignore checkpoints directory
checkpoints/

# Ignore outputs directory
outputs/

# Python files
*.pyc
__pycache__/

# Virtual environment
venv/

# Environment files
.env
.env.local

# IDE settings
.vscode/

# Log files
*.log

# Python package metadata
*.egg-info/
